@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  background: rgb(0, 40, 122);
  background: linear-gradient(
    90deg,
    rgba(0, 40, 122, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

body {
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
}

.navbar {
  background: #000000;
  color: #c37979;
  padding: 15px;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.navbar ul.links {
  margin-left: auto;
  margin-right: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  transition: 0.4s ease all, 0s ease background;
}
.navbar ul.links li {
  text-transform: uppercase;
  padding: 0 15px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease all, 0s ease margin;
}
.navbar ul.links li a {
  text-decoration: none;
  color: #d2d2d2;
}
.navbar ul.links li:hover {
  background: rgb(33, 30, 84);
  cursor: pointer;
  color: #000000;
}
.container {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.produtos-container {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 31%;
  display: inline-block;
  margin: 1% 1%;
  padding: 14px;
}

.card img {
  height: 170px;
  width: 57%;
  margin: 17px;
  margin-left: 60px;
}

footer {
  background-color: rgb(255, 255, 255);
  padding: 25px;
  text-align: center;
}
p {
  color: rgb(90, 90, 90);
  text-align: center;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
  color: #954444;
}
footer {
  color: rgb(100, 100, 100);
}
h4 {
  text-align: center;
}

.card_carrinho {
  width: 80%;
  display: flex;
  margin: 1% 1%;
  margin-left: 100px;
  padding: 15px;
  font-size: 10px;
  color: #000000;
  text-align: center;
  align-items: center;
  background-color: white;
  border-radius: 3px;
}

.card_carrinho img {
  height: 300px;
  width: 30%;
  margin: 10px;
  transition: all ease 0.2s;
  cursor: pointer;
  border-color: darkgray;
  border-radius: 2px;
}

.card_carrinho h1 {
  text-transform: uppercase;
  font-size: 20px;
  background-color: rgb(red, green, blue);
  border-radius: 3px;
}

.card_carrinho h2{
  margin-left: 20px;
  font-size: 30px;
  text-transform: uppercase;
}

.card_carrinho button{
  font-family: Arial, Helvetica, sans-serif ;
  text-transform: uppercase;
  font-size: 20px;
  background-color: rgb(rgb(255, 255, 255), green, blue);
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
}

footer {
  background-color: rgb(red, green, blue);
}

